.navbar-default {
    height: 6em;
}
.leftMenu{
	margin-top: 1em;
}
.navbar .container{
	width: auto;
}
@media (min-width: 1200px){
	.navbar>.container{
		width: 970px;
	}
}

@media (max-width: 915px){
	.leftMenu{
		margin-top: 0em;
	}
}