<!-- Modal --> 
<div id="signUpModal" class="modal fade" data-backdrop="static" role="dialog"> 
  <div class="modal-dialog"> 
    <!-- Modal content--> 
    <div class="modal-content"> 
      <div class="modal-body"> 
        <div class="container-fluid"> 
            <h1>VOCÊ SABE TUDO SOBRE VAREJO?</h1> 
            <h2>Assine gratuitamente nossa newsletter e receba dicas para melhorar<br/>seu negócio!</h2> 
            <div class="container-fluid" style="min-height: 20em;"> 
              <img class="logoPopup" src="/images/logo_popup.png"> 
              <div class="col-md-10"> 
                <form class="leadSignUp"> 
                  <div> 
                    <input type="text" name="name" id="name" placeholder="nome"> 
                    <input type="text" name="lastName" id="lastName" placeholder="sobrenome"> 
                  </div> 
                  <div> 
                  <div class="radioButtonOptions" value=""> 
                    <input type="radio" name="tipoComercio" value="VAREJO"> 
                    <label for="varejo">varejo</label> 
                    <input type="radio" name="tipoComercio" value="INDUSTRIA"> 
                    <label for="industria">indústria</label> 
                    <input type="radio" name="tipoComercio" value="OUTRO"> 
                    <label for="outro">outro</label> 
                  </div> 
                  <div> 
                    <input type="email" name="email" id="email" placeholder="e-mail profissional"> 
                  </div> 
                  <div> 
                    <input type="submit" value="ASSINAR!"> 
                    <button class="closeModal" target="signUpModal">NÃO GOSTO DE ECONOMIA</button> 
                  </div> 
                  </div> 
                </form> 
              </div> 
            </div> 
        </div> 
      </div> 
    </div> 
 
  </div> 
</div>